/ Modal
=simple_form_for [@evento, @partida], method: "POST", remote: true do |t|
  #ModalNewGame.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Nova Partida
        .modal-body
          = t.input  :tipo
          = t.input  :tempo
          = t.input :quantidade_rodadas
        .modal-footer
          =t.submit "Enviar", class: "btn btn-default"
          %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Fechar