=render 'eventos/evento'
=simple_form_for [@evento, @partida ,@competidor_evento] do |f|
  =render 'shared/error_messages', {object: @competidor_evento}
  .row
    .col-md-6
      .panel.panel-default
        .container
          %p
            %h3 Partida
            %strong=@partida.to_s
            =f.input :partida_id, as: :hidden, input_html: { value: @partida.id }
            =f.input :evento_id, as: :hidden, input_html: { value: @evento.id }
          %br/
          %br/
          %br/
    .col-md-6
      .panel.panel-default
        .container
          %p
            %h3 Competidores
          .row
            .col-md-2
              =f.label :categoria_id, "Categoria"
              =f.collection_select :categoria_id, Categoria.all.order("nome ASC"), :id, :nome, {prompt: "Selecione"}, {class:'form-control'}
            .col-md-3
              =f.label :competidor_id, "Competidor"
              =f.grouped_collection_select :competidor_id, Categoria.all.order("nome ASC"),:competidores, :nome, :id, :nome, {prompt: "Selecione"}, {class:'form-control'}
          %br/
          %br/
  .row
    =f.submit "Enviar", class: "btn btn-default btn-lg"