<h2>Sign up</h2>

<%= simple_form_for(@user, url: users_path, method: 'post') do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.label "Administrador"%>
    <%= f.check_box :administrador%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>


