.main_content
  #event_top.row
    .col-md-6
      = image_tag @evento.imagem.url(:medium), class: "event_image"
    .col-md-6
      #event_info
        %h1= @evento.nome
        .row
          .col-md-4
            %p
              %h3 Dia
              =format_date @evento.dia
          .col-md-4
            %p
              %h3 Horario
              =format_hour @evento.hora
        .row
          -if current_page?(evento_path(@evento))
            =link_to "Editar Evento", edit_evento_path(@evento), class: "btn btn-default"
            =link_to "Adicionar Partidas", new_evento_partida_path(@evento), class: "btn btn-default", remote: true, id: "btnNewGame"