= simple_form_for @evento, html: { multipart: true } do |f|
  =render 'shared/error_messages', {object: @evento}
  .panel.panel-default
    .panel-body
      = f.input :nome, input_html: { class: 'form-control' }
      = f.input :dia, input_html: { class: 'form-control' }
      = f.input :hora, input_html: { class: 'form-control' }
      = f.input :imagem, as: :file
  = f.button :submit, class: "btn btn-primary"