.col-md-6
  #partidas
    %h2 Partidas
    %ul
      - evento.partidas.each do |partida|
        %li
          .col-md-4
            %h4= partida.to_s
          .col-md-4
            =link_to new_evento_partida_competidores_evento_path(evento, partida), class: "btn btn-primary", title: "Adicionar Competidores" do
              %i.mdi.mdi-account
            =link_to new_evento_partida_competidores_evento_path(evento, partida), class: "btn btn-warning", title: "Iniciar Partida" do
              %i.mdi.mdi-alarm
              
        %br