.form-inline.clearfix
  .nested-fields
    .col-md-3
      = f.label :tipo
      = f.input :tipo, label: false, input_html: { class: 'form-input form-control' }
    .col-md-3
      = f.label :tempo
      = f.input :tempo, label: false, input_html: { class: 'form-input form-control' }
    .col-md-3
      = f.label :quantidade
      = f.input :quantidade_rodadas, label: false, input_html: { class: 'form-input form-control' }
    .col-md-3
      = link_to_remove_association "Remove", f, class: "btn btn-default"
