= simple_form_for @categoria, html: { multipart: true } do |f|
  =render 'shared/error_messages', {object: @categoria}
  .panel-body
    = f.input :nome, input_html: { class: 'form-control' }
   
    
  = f.button :submit, class: "btn btn-primary"