%h1= @categoria.nome 


= link_to "Back", categorias_path, class: "btn btn-default"
= link_to "Edit", edit_categoria_path, class: "btn btn-default"
= link_to "Delete", categoria_path, method: :delete, data: {confirm: "Você tem certeza?"},class: "btn btn-default"