= simple_form_for @competidor, html: { multipart: true } do |f|
  =render 'shared/error_messages', {object: @competidor}
  .panel-body
    = f.input :nome, input_html: { class: 'form-control' }
    = f.input :foto, input_html: { class: 'form-control' }
    = f.input :tempo_de_esporte, input_html: { class: 'form-control' }
    = f.input :patrocinio, input_html: { class: 'form-control' }
    = f.input :apoio, input_html: { class: 'form-control' }
    = f.label :categoria_id, "Categoria"
    = f.collection_select :categoria_id, Categoria.all, :id, :nome, {prompt: "Escolha a categoria"}, {class:'form-control'}
    = f.input :instagram, input_html: { class: 'form-control' }
    
  = f.button :submit, class: "btn btn-primary"