%h1= @competidor.nome 
= image_tag @competidor.foto.url(:medium, class: "competidor_foto")
%p 
  %h3 Categoria:
  %h4= @competidor.categoria.nome 
%p 
  %h3 Tempo de esporte:
  %h4= @competidor.tempo_de_esporte
%p
  -unless @competidor.patrocinio.eql?("")
    %h3 Patrocinios :
    %h4= @competidor.patrocinio
%p
  -unless @competidor.apoio.eql?("")
    %h3 Apoio :
    %h4= @competidor.apoio
%p
  %h3 Instagram:
  %h4= @competidor.instagram

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_competidor_path, class: "btn btn-default"
= link_to "Delete", competidor_path, method: :delete, data: {confirm: "Você tem certeza?"},class: "btn btn-default"