= simple_form_for @arbitro do |f|
  =render 'shared/error_messages', {object: @arbitro}
  .row
    .col-md-4
      = f.input :nome
  .row
    .col-md-12
      .pull-left
        = f.submit 'Criar', class: "btn btn-primary"
      .pull-right
        = link_to "Pagina inicial", root_path, class: "btn btn-default"
