@import "materialdesignicons"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "variables"

@mixin box-shadow
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0

body
  background: $white_ice

.main_content
  padding: 0 0 50px 0

.alert
  padding: 15px
  margin-bottom: 20px
  border: 1px solid transparent
  border-radius: 5px
  @include box-shadow
  background: $white
  font-weight: bold


.navbar
  margin-bottom: 50px
  @include box-shadow
  border: none
  .navbar-brand
    letter-spacing: -1px
    font-weight: bold
    font-size: 25px
    a
      color: $red

.event
  background: $white
  border-radius: 5px
  margin-bottom: 40px
  @include box-shadow
  .image_wrapper
    max-width: 100%
    border-radius: 5px 5px 0 0
    overflow: hidden
  img
    width: 100%
    -webkit-transition: all .3s ease-out
    -moz-transition: all .3s ease-out
    -o-transition: all .3s ease-out
    transition: all .3s ease-out
    &:hover
      transform: scale(1.075)
  h2
    padding: 15px 5%
    margin: 0
    font-size: 20px
    font-weight: normal
    line-height: 1.5
    a
      color: $red

#event_top
  margin-bottom: 50px

#event_info,
#partidas,
#directions,
#categories,
#comment
  background: $white
  @include box-shadow
  min-height: 360px
  border-radius: 5px
  padding: 2em 8%

.event_image
  max-width: 100%
  border-radius: 5px
  @include box-shadow

#recipe_info
  h1
    font-size: 36px
    font-weight: normal
    color: $red
  .description
    color: $aGray
    font-size: 20px

#partidas,
#directions,
#categories,
#comment
  margin-bottom: 50px
  ul, ol
    padding-left: 18px
    li
      padding: 1em 0

.form-inline
  margin-top: 15px

.form-input
  width: 65% !important
  float: left

.form-button
  float: left
  width: 30% !important
  margin-left: 5%

.add-button
  margin-top: 25px

.fileUpload
  position: relative
  overflow: hidden
  margin: 10px

.fileUpload input.upload
  position: absolute
  top: 0
  right: 0
  margin: 0
  padding: 0
  font-size: 20px
  cursor: pointer
  opacity: 0
  filter: alpha(opacity=0)