!!! 5
%html
%head
  %title sportScore
  = stylesheet_link_tag 'application', media: 'all'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "sportScore", root_path
      %ul.nav.navbar-nav.navbar-right
        - Categoria.all.each do |categoria|
          %li= link_to categoria.nome, competidores_path(categoria: categoria.nome)
        %li= link_to "Arbitros", arbitros_path
        %li= link_to "Competidores", competidores_path
        %li= link_to "Categorias", categorias_path
        %li= link_to "Eventos", eventos_path
        %li= link_to "Sign In", root_path
        %li= link_to "Sign Out", destroy_user_session_path, method: 'delete'

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
    = yield
  = javascript_include_tag 'application'